<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="homepage.css">
        <link rel="stylesheet" href="login.css">
        <script>
                window.userData = {
                    userName: "<%= userName %>"
                }
            </script>
    </head>
    <body>
        <div id="root" ></div>
        <script type="text/javascript" src="homepage.js"></script>
    </body>
</html>